*{
    margin:0;
}

.menu{
    list-style:none;
    display: flex;
    justify-content: space-between;
    width:512px;
}


.menu a{
    color: #707070;
    text-decoration: none;
    text-transform:uppercase;
    font-family: Arial, Helvetica, sans-serif;
}

header{
    background-color:#ECEFD9;
    padding-top:60px;
    padding-bottom:60px;
}


nav{
    width:1366px;
    margin:auto;
    display: flex;
    justify-content:flex-end;
}

.banner{
    background-image: url(../imagens/lobostudio-hamburg-MAjtbFMV5_k-unsplash.png);
    height: 500px;
    background-repeat: no-repeat;
    background-position: center;
    /* background-size:cover; */
}

main{
    width:1200px;
    margin: auto;
    font-family:Arial, Helvetica, sans-serif;
    text-align: justify;
    line-height:2.0;
    color: #707070;
    text-align: center;
    padding-bottom:30px;
}

.conteudo{
    display: flex;
    justify-content:space-between;
}

.texto{
    width:500px;
}

footer{
    background-color:#F1E4F2;
}

.rodape{
    display: flex;
    width: 1366px;
    margin:auto;
    height: 150px;
    justify-content: space-between;
    align-items: center;

}